---
const { btn_type, btn_value, form_id, btn_text, btn_color, btn_padding, size, variant } = Astro.props;
---

<button class={size} type={btn_type} form={form_id} value={btn_value}
  >{btn_text}</button>

<style>
   button {
    display:flex;
   
   justify-content:center;
    --btn-color: color-mix(in oklab, var(--yellow-color), var(--mix-with, 0% #fff));
    background-color: var(--btn-color);
    border-radius: var(--border-radius);
    &:hover {
      --mix-with: 30% #fff;
    }
    &:active {
      --mix-with: 20% #000;
    }
    
    
  }

.big_btn{
    padding:var(--big-padding);
}

.small_btn{
    padding:var(--small-padding);
}

@media (width < 500px){
    button{
        flex: 1 1 20px;
    }
}
  
</style>
