---
const {
  list_header,
  flex_row,
  list_tag,
  position_green,
  position_dots,
  grid_container,
  list_p,
} = Astro.props;
---

<div id="img_text_containter" class={flex_row}>
  <div id="img_container" class={grid_container}>
    <slot name="img_slot" />

    <img id="dots" class={position_dots} src="/images/dots.svg" alt="svg" />
    <div id="green" class={position_green}></div>
  </div>
  <article class="text_box">
    <p class="tag">{list_tag}</p>
    <h2>{list_header}</h2>
    <p>{list_p}</p>
    <ol>
      <slot name="list_container" />
    </ol>
  </article>
</div>

<style>
  /*******************style whole container*******************/
  #img_text_containter {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 100px 0;
    container-type: inline-size;
    & :is(.text_box, #img_container) {
      flex: 1 1 300px;
      height: fit-content;
      width: fit-content;
    }
  }

  .flex_row-reverse {
    flex-flow: wrap row-reverse;
  }
  /*******************style for img container*******************/
  #img_container {
    position: relative;
    padding-top: 4rem;

    & #dots {
      position: absolute;
      width: 300px;
      height: 300px;
      z-index: -1;
    }

    & #green {
      position: absolute;
      background-color: var(--green-color);
      width: 165px;
      height: 185px;
      border-radius: var(--small-border-radius);
      z-index: -1;
    }
  }
  .grid_img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 2rem;
  }

  /*******************style for text container*******************/
  .text_box {
    & h2 {
      text-transform: capitalize;
    }
    & ol {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
    }
  }

  /*******************green abosulot position *******************/
  .right_top_green {
    position: absolute;
    top: 8%;
    right: -5%;
  }
  .right_bottom_green {
    position: absolute;
    bottom: -8%;
    right: -5%;
  }

  .left_top_green {
    position: absolute;
    top: 8%;
    left: -5%;
  }
  .left_bottom_green {
    position: absolute;
    left: -8%;
    bottom: -5%;
  }
  /******************dots abosulot position *******************/

  .right_top_dots {
    position: absolute;
    top: 0%;
    right: -10%;
  }
  .right_bottom_dots {
    position: absolute;
    bottom: 0%;
    right: -10%;
  }

  .left_top_dots {
    position: absolute;
    top: 0%;
    left: -10%;
  }
  .left_bottom_dots {
    position: absolute;
    left: -10%;
    bottom: 0%;
  }
</style>
